@import "../../colors/index.css";

#pagenation-warpper {
  display: flex;
  margin-top: 20px;
  justify-content: center;
  margin-bottom: 100px;
  /* margin: auto; */
}
.pagenation-unit {
  /* font-size: 12px; */
  width: 15px;
  height: 15px;
  padding: 5px;
  display: flex;
  justify-content: center;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}
.pagenation-unit + .pagenation-unit {
  margin-left: 15px;
}
