header{
  /* background-image : url('banner1.jpg') !important; */
  background-size: 1700px 500px;
  background-position: left center;
  height : 200px;
  text-decoration: none;
}
a{
  text-decoration: none;
}
.title{
  font-size: 60px;
  text-align: center;
  padding-top : 40px;
  margin-bottom: 0px;
  text-decoration: none;
}

#right_select{
  float : right;
  padding-right : 10px;
  top : 0px;
  padding-left: 20px;
  list-style-type: none;
  list-style: none;
}