.viewText_main{
    width: 600px;
    height: 500px;
    /* background-color: aqua; */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
/* .viewText_form{
    margin-left: 30%;
} */

.viewText_back a {
    color: var(--deepBrown);
    font-weight: bold;
}

.viewText_title{
    width: 400px;
    height: 20px;
    border: 1px solid var(--black);
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 10px;
    border-radius: 10px;
}

.viewText_writer {
    width: 400px;
    margin: 0 auto;
    color: var(--red);
    font-weight: bold;
}

.viewText_content{
    padding: 10px;
    width: 400px;
    height: 300px;
    border: 1px solid var(--black);
    margin: 0 auto;
    border-radius: 10px;
}