<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    <h1>설문이 완료되었습니다.</h1>
    <br>
    <h1>추천된 이름은 <%= name1 %>, <%= name2 %>, <%= name3 %> 입니다.</h1>
    <br>
    <h1>좋은 시간보내세요!</h1>
</body>
</html>
